<div class="sticky-wrapper">
  <div class="navbar navbar-custom navbar-fixed-top sticky">
    <div class='container'>
      <div class="navbar-collapse collapse">
        <ul class='nav navbar-nav navbar-right'>
          <li><a href='#'> Home </a></li>
          <li><a href='#'> Sobre </a></li>
          <li><a href='#'> Serviços </a></li>
          <li><a href='#'> Portifólio </a></li>
          <li><a href='#'> Entre em contato </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
